.blue-title {
  position: relative;
  margin: 0;
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #53bcff;
  text-align: center;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }

  &--big {
    &::before {
      background-image: url(../../img/big-title-line.svg);
    }
  }

  &--min {
    &::before {
      background-image: url(../../img/min-text-line.svg);
    }
  }
}
