.hero {
  padding-top: 16px;
  padding-bottom: 78px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__content {
  margin-right: 58px;
}

.hero__content-title {
  max-width: 692px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: #050e14;
}

.hero__content-desc {
  max-width: 692px;
  margin-bottom: 24px;
}

.hero__demo-link {
  margin-bottom: 192px;
}

.hero__play-video {
  display: flex;
  align-items: center;
}

.hero__play-video-link {
  width: 104px;
  height: 104px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 66px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 24px #ededed;
}

.hero__play-video-inner {
  width: 72px;
  height: 72px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 24px #ededed;
}

.hero__play-video-img {
  display: inline-block;
}

.hero__play-video-desc {
  max-width: 322px;
  position: relative;
  margin: 0;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #1f272d;
  opacity: 0.5;

  &::before {
    width: 108px;
    height: 74px;
    position: absolute;
    top: -57px;
    left: -82px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: top right;
    content: "";
  }
}

.hero__grid {
  display: grid;
  grid-template-columns: 503px 503px;
  grid-template-rows: 384px 384px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__grid-item {
  overflow: hidden;
  border-radius: 40px;
}

.hero__grid-item--purple {
  grid-column-start: 1;
  grid-column-end: 3;
}

.hero__grid-item-img {
  display: block;
  object-fit: contain;
}

.hero__play-video--tablet {
  display: none;
}

.hero__demo-link--mobile {
  display: none;
}

@include breakpoint-down(1675px) {
  .hero__demo-link {
    margin-bottom: 77px;
  }

  .hero__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@include breakpoint-down(1400px) {
  .hero__container {
    align-items: center;
  }

  .hero__content-title {
    max-width: 450px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 56px;
  }

  .hero__content-desc {
    max-width: 450px;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;
  }

  .hero__demo-link {
    margin-bottom: 0;
  }

  .hero__play-video {
    display: none;
  }

  .hero__play-video--tablet {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }

  .hero__grid {
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 200px;
    gap: 24px;
  }

  .hero__grid-item {
    border-radius: 24px;
  }
}

@include breakpoint-down(1200px) {
  .hero__content {
    margin-right: 27px;
  }

  .hero__grid {
    grid-template-columns: 238px 238px;
    grid-template-rows: 180px 180px;
  }
}

@include breakpoint-down(880px) {
  .hero__container {
    flex-direction: column;
    align-items: stretch;
  }

  .hero__content {
    margin-right: 0;
    margin-bottom: 48px;
    text-align: center;
  }

  .hero__content-title {
    max-width: 100%;
  }

  .hero__content-desc {
    max-width: 100%;
  }

  .hero__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@include breakpoint-down(590px) {
  .hero {
    padding-top: 36px;
  }

  .hero__content-title {
    margin-bottom: 68px;
    font-size: 32px;
    line-height: 39px;
  }

  .hero__content-desc {
    display: none;
  }

  .hero__play-video {
    display: flex;
  }

  .hero__play-video--tablet {
    display: none;
  }

  .hero__demo-link {
    display: none;
  }

  .hero__demo-link-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  .hero__demo-link--mobile {
    max-width: 235px;
    display: block;
  }

  .hero__grid {
    gap: 10px;
    margin-top: 48px;
  }

  .hero__play-video {
    justify-content: center;
  }

  .hero__play-video-link {
    width: 64px;
    height: 64px;
  }

  .hero__play-video-inner {
    width: 44px;
    height: 44px;
  }

  .hero__play-video-desc {
    max-width: 154px;
    font-size: 12px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 50px;
      top: -45px;
      left: -62px;
      background-size: contain;
    }
  }
}
