.product {
  padding-top: 86px;
  padding-bottom: 83px;
}

.product__content {
  width: 100%;
  position: relative;
  padding-top: 53px;
  padding-bottom: 397px;
  padding-left: 47px;
  background-image: url(../../img/devices.png);
  background-repeat: no-repeat;
  background-position: right bottom calc(74px);
  background-color: #ecf6ff;
  border-radius: 40px;

  &::before {
    width: 230px;
    height: 215px;
    position: absolute;
    left: 510px;
    bottom: 102px;
    background-image: url(../../img/responsible.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    content: "";
  }
}

.product__title {
  max-width: 1123px;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.product__desc {
  max-width: 841px;
  margin-bottom: 56px;
}

@include breakpoint-down(1806px) {
  .product__content {
    &::before {
      left: calc(50% - 540px);
      bottom: 102px;
    }
  }
}

@include breakpoint-down(1600px) {
  .product__content {
    padding-bottom: 159px;
    background-image: url(../../img/devices-tablet.png);
    background-position: right bottom;
  }

  .product__content {
    &::before {
      display: none;
    }
  }
}

@include breakpoint-down(1024px) {
  .product__content {
    padding-top: 29px;
    padding-bottom: 159px;
    padding-left: 32px;
    background-image: url(../../img/devices-tablet.png);
    background-position: right bottom calc(32px);
    &::before {
      width: 153px;
      height: 83px;
      display: block;
      left: calc(50% - 163px);
      bottom: 45px;
      background-size: contain;
    }
  }

  .product__title {
    font-size: 40px;
    line-height: 56px;
  }

  .product__desc {
    max-width: 505px;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;
  }
}

@include breakpoint-down(960px) {
  .product__content {
    &::before {
      left: calc(50% - 300px);
    }
  }
}

@include breakpoint-down(922px) {
  .product__desc {
    max-width: 359px;
  }
}

@include breakpoint-down(700px) {
  .product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
    background-position: right bottom calc(140px);

    &::before {
      display: none;
    }
  }

  .product__title {
    max-width: 500px;
    margin-bottom: 324px;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }

  .product__desc {
    display: none;
  }
}

@include breakpoint-down(550px) {
  .product {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .product__content {
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(../../img/devices-mobile.png);
  }
}
