.site-footer {
  padding-top: 60px;
  padding-bottom: 72px;
}

.site-footer__container {
  position: relative;
  overflow: hidden;
  background-color: #ecf6ff;
  border-radius: 40px;

  &::before {
    width: 511px;
    height: 436px;
    position: absolute;
    top: 0;
    left: -75px;
    z-index: 10;
    background-image: url(../img/humo-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }
}

.site-footer__top {
  padding: 72px 72px 100px;
}

.site-footer__content {
  display: flex;
  align-items: center;
}

.site-footer__description {
  max-width: 654px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  font-size: 24px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #1f272d;
  opacity: 0.8;
}

.site-footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding-right: 236px;
}

.site-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #aad7ff;
}

.site-footer__copyright {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #1f272d;
  opacity: 0.8;
}

.site-footer__socials {
  display: flex;
  column-gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__social-item {
  flex-shrink: 0;
}

.site-footer__social-link {
  display: block;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.site-footer__social-icon {
  display: block;
}

@include breakpoint-down(1500px) {
  .site-footer__links {
    row-gap: 40px;
    padding-right: 80px;
  }
}

@include breakpoint-down(1024px) {
  .site-footer__container {
    border-radius: 24px;
  }

  .site-footer__top {
    padding: 32px 32px 96px;
  }

  .site-footer__content {
    align-items: flex-start;
  }

  .site-footer__description {
    max-width: 423px;
    font-size: 18px;
    line-height: 32px;
  }

  .site-footer__links {
    row-gap: 40px;
    padding-right: 35px;
  }

  .site-footer__bottom {
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-color: #e2e2e2;
  }
}

@include breakpoint-down(715px) {
  .site-footer__bottom {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
}

@include breakpoint-down(590px) {
  .site-footer__container {
    &::before {
      width: 251px;
      height: 241px;
      top: 51px;
      left: -40px;
    }
  }

  .site-footer__top {
    padding: 24px 16px 32px 24px;
  }

  .site-footer__content {
    flex-direction: column;
  }

  .site-footer__description {
    max-width: 311px;
    margin-bottom: 47px;
  }

  .site-footer__links {
    row-gap: 24px;
    padding-right: 0;
  }

  .site-footer__bottom {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-footer__copyright {
    font-size: 12px;
    line-height: 32px;
  }
}
